.user{
    height: 60px;
    width: 60px;
    border: 2px solid wheat;
    border-radius: 30px;
}
.user-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    position: sticky;
    top: 0;
    z-index: 9000;
}